<div class="container mt-5">
  <div class="form-container">
    <form [formGroup]="searchForm" (ngSubmit)="submitSearch()">
      <div class="row">
        <!-- Date input -->
        <div class="col-md-5 mb-3">
          <mat-form-field class="full-width-form-field">
            <mat-label>Date</mat-label>
            <input matInput formControlName="date" type="date" />
          </mat-form-field>
        </div>

        <!-- Time input -->
        <div class="col-md-5 mb-3">
          <mat-form-field class="full-width-form-field">
            <mat-label>Time</mat-label>
            <input matInput formControlName="time" type="time" />
          </mat-form-field>
        </div>

        <!-- Topic input (Changed formControlName to 'topic' to match your FormGroup) -->
        <div class="col-md-5 mb-3">
          <mat-form-field class="full-width-form-field">
            <mat-label>Topic</mat-label>
            <input matInput formControlName="title" type="text" />
          </mat-form-field>
        </div>

        <!-- Duration input -->
        <div class="col-md-5 mb-3">
          <mat-form-field class="full-width-form-field">
            <mat-label>Duration</mat-label>
            <input matInput formControlName="duration" type="time" />
          </mat-form-field>
        </div>
        <!-- Submit button -->
        <div class="col-md-2 mb-3">
          <button mat-stroked-button class="full-width-button" type="submit">
            Submit
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
